#main {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
 
ul li {
    margin: 10px auto;
}
#img-link {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
}